// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* dark themes require dark background */
body {
  background-color: #060606;
}

/* move page content away from fixed navbar. */
.container {
  margin-top: 50px;
}

.list-group-item {
  color: white;
  clear: both;

  .list-group-item-wrapper {
    max-width: calc( 100% - 140px );
  }

  .btn-group {
    float: right;
    margin-left: .6em;
    a.btn {

      &:visited {
        color: white;
      }
    }
  }
}

.admin {
  h3 {
  }
}

.navbar {
  .container-fluid {
    a {
      transition: color .3s ease-out;
    }
  }

  button {
    transition: background-color .3s ease-out;
  }
}

.admin-panel-entry {
}

// overwite bootstrap, like that's ever a good idea
html body {
  a {
    color: #ccc;

    &:visited {
      color: #eee;
    }

    &:active,
    &:focus {
      color: #bbb;
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.container {
  .alert {
    margin-top: .6em;
  }
}